# Golang tools artifacts
**/*.test
coverage.out
test-report.json

# Executables and test outputs
cmd/goa/goa

# Editor / IDEs cruft
.idea/
*.iml
.vscode/
*~
*.orig
*.swp

# DeepSource cruft
cover.out
bin/
# === Code Quality Standards - JS patterns ===
node_modules/
dist/
build/
.env
.env.*
# === Code Quality Standards - Python patterns ===
__pycache__/
.venv/
*.egg-info/
.mypy_cache/
